<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <form action="/partySettings" method="post">
                    <button class="btn btn-primary btn-lg" name="addparty" type="submit"> New Party</button>
                </form>
            </div>
            <div th:if="${myParties.size()>0}">
                <h1>My Parties:</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Change</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="party : ${myParties}">
                        <th scope="row" th:text="${party.name}"></th>
                        <th scope="row" th:value="${party.date}"></th>
                        <th scope="row" th:value="${party.description}"></th>
                        <th>
                            <form action="/update" method="post">
                                <input type="number" name="id" th:value="${party.id}" hidden>
                                <button name="partyId" type="submit" class="btn btn-info">
                                    Settings
                                </button>
                            </form>
                        </th>
                    </tr>
                    </tbody>

                </table>
            </div>
            <br/>
            <div th:if="${invitedToParties.size()>0}">
                <h1>I'm invited to:</h1>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Organizer</th>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Gifts</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="party : ${invitedToParties}">
                        <th scope="row" th:text="${party.name}"></th>
                        <th scope="row" th:text="${party.organizerName}"></th>
                        <th scope="row" th:value="${party.date}"></th>
                        <th scope="row" th:value="${party.description}"></th>
                        <th>
                            <form action="/giftList" method="post">
                                <input type="number" name="partyId" th:value="${party.id}" hidden>
                                <button name="giftList" th:value="${party.getId()}" type="submit" class="btn btn-info">
                                    Choose your Gift
                                </button>
                            </form>
                        </th>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>