<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Gift</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/addParty" method="post">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Return to main site.</button>
</form>

<div class="container">
    <form action="/addGift" method="post" class="form-signin">
        <h3 class="form-signin-heading">Add Gift:</h3>
        <br/>
        <input name="id" type="text" th:value="${partyId}" readonly/>
        <input type="text" name="name" placeholder="Gift name" required="true" minlength="3"
               class="form-control"/> <br/>
        <input type="number" step="0.01" name="price" class="form-control" required="true" min="0.00" placeholder="0.00"/> <br/>
        <button class="btn btn-lg btn-primary btn-block" name="add" value="Add" type="submit"
                th:text="Save"></button>
    </form>
</div>

</body>
</html>