<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/addParty" method="post">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Return to main site.</button>
</form>

<div class="container">
    <form action="/updateEntity" method="post" class="form-signin">
        <h3 class="form-signin-heading">Party Update</h3>
        <br/>
        <input type="number" name="id" th:value="${party.id}" readonly class="form-control">
        <input type="text" name="name" required="true" th:value="${party.name}"
               class="form-control"/> <br/>

        <button class="btn btn-lg btn-primary btn-block" name="Save" value="Save" type="submit"
                th:text="Save"></button>
    </form>
    <br/>
    <form action="/addGuest" method="post" class="form-inline">
        <input name="id" th:value="${party.id}" type="hidden">
        <h4 class="form-signin-heading">Invite guests:</h4>
        <div class="form-group">
            <label for="email">Guest Email</label>
            <input type="email" name="email" placeholder="Email" class="form-control" id="email">
        </div>
        <button type="submit" class="btn btn-success">Invite</button>
    </form>
</div>


</body>
</html>